$regular: 400;
$demi: 600;
$bold: 700;

@font-face {
    font-family: avenirNextRegular;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf)
}
@font-face {
    font-family: avenirNextDemi;
    src: url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
}

@font-face {
    font-family: avenirNextBold;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}

$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;

$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;



