// breakpoints
@mixin mobile {
    @media ((min-width: 320px) and (max-width: 767px)) {
        @content
    }
};

@mixin tablet {
    @media ((min-width: 768px) and (max-width: 1279px)) {
        @content
    }
};

@mixin desktop {
    @media ((min-width: 1280px)) {
        @content
    }
};

// mobile text styles

@mixin page-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
}

@mixin section-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
}

@mixin subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
}

@mixin body-copy {
    font-size: 0.813rem;
    line-height: 1.125rem;
}

@mixin footer-copy {
    font-size: 0.813rem;
    line-height: 1.125rem;
}

@mixin labels-buttons {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-family: avenirNextBold;;
}

// desktop&tablet text styles
// @mixin page-header {
//     font-size: 60px;
//     line-height: 68px;
//     font-weight: $bold;
// }

// @mixin section-header {
//     font-size: 36px;
//     line-height: 44px;
//     font-weight: $bold;
// }

// @mixin subheader {
//     font-size: 1.5rem;
//     line-height: 2rem;
//     font-weight: $demi;
// }

// @mixin body-copy {
//     font-size: 0.875rem;
//     line-height: 1.375rem;
//     font-weight: $regular;
// }

// @mixin footer-copy {
//     font-size: 0.875rem;
//     line-height: 1.25rem;
//     font-weight: $regular;
// }

// @mixin labels-buttons {
//     font-size: 12px;
//     line-height: 1.25rem;
//     font-weight: $bold;
// }