@import "partials/variables";
@import "partials/fonts+colors";
@import "partials/reset";

.navbar {
    background-color: $bandsite-black;

    &-container {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;

        @include tablet {
            flex-direction: row;
            padding-left: 5%;
            width: 50%;
            justify-content: space-around;
        }

        @include desktop {
            flex-direction: row;
            padding-left: 5%;
            width: 50%;
            justify-content: space-around;
        }
        
        &__logo {
    
            img {
                width: 7.5rem;
            }
        }
    
        &__subheader {
            display: flex;
            width: 100%;
            
            @include tablet {
                width: 50%;
                justify-content: space-between;
            }

            @include desktop {
                width: 50%;
                justify-content: space-between;
            }
            
            &--biography {
                border-bottom: white 4px solid;
                width: 50%;
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: $white;

                @include tablet {
                    width: auto;
                }

                @include desktop {
                    width: auto;
                }
            }
    
            &--shows {
                width: 50%;
                display: flex;
                justify-content: center;
                color: $mercury;
                text-decoration: none;
    
                &:hover {
                    border-bottom: white 4px solid;
                    width: 50%;
                    color: $white;

                    @include tablet {
                        width: auto;
                    }

                    @include desktop {
                        width: auto;
                    }
                }

                @include tablet {
                    width: auto;
                }

                @include desktop {
                    width: auto;
                }
            }
        }
    }
}



.hero-container {
    position: relative;
    text-align: center;
    color: $white;

    &__image{
        max-width: 100%;
    }

    &__title {
        @include page-header;
        position: absolute;
        top: 35%;
        left: 5%;
    }
}

main {
    color: $bandsite-black;
}

.biography {
        @include mobile {
            padding: 1rem 1rem 0 1rem;
        }

        @include tablet {
            padding: 2.25rem 2.25rem 0 2.25rem;
        }
        @include desktop {
            padding: 2.25rem 2.25rem 0 2.25rem;
            display: flex;
            flex-direction: column;
        }
    
    &__title {
        @include section-header;
        margin: 8px 0 16px 0;

        @include tablet {
            margin: 16px 2.25rem 2.25rem 2.25rem;
        }
        @include desktop {
            margin: 16px 2.25rem 2.25rem 2.25rem;
        }
    }

    &__container {

        @include tablet {
            margin: 0 2.25rem 1.5rem 2.25rem;
        }
        @include desktop {
            margin: 0 2.25rem 1.5rem 2.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            max-width: 80%;
        }

        &--image {
            max-width: 100%;

            @include tablet {
            padding-bottom: 1rem;
            
        }
            @include desktop {
            padding-bottom: 1rem;
        }
    }
    
        &--quote {
            @include subheader;

            @include desktop {
                width: 65%;
                text-align: left;
            }
    
            &--bryan-teddy {
                padding-top: 0.5rem;

                @include tablet {
                    padding-top: 1rem;
                }
                @include desktop {
                    padding-top: 1rem;
                }
            }
        }
    }

    &__description {

        @include tablet {
            margin: 0 2.25rem 2.25rem 2.25rem;
        }
         @include desktop {
            margin: 0 2.25rem 2.25rem 2.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            max-width: 80%;     
        }

        &--title {
            @include subheader;
        }

        &--text {
            @include body-copy;

            @include tablet {
                display: flex;
                justify-content: space-between;

                p {
                    width: 45%;
                }
            }
            @include desktop {
                display: flex;
                justify-content: space-between;

                p {
                    width: 45%;
                }
            }
        }
    }
}

.photo-gallery {
    background-color: $alabaster;
    @include mobile {
        padding: 1rem;
    }

    @include tablet {
        padding: 2.25rem;
    }
    @include desktop {
        padding: 3rem;
    }

    &__title {
        @include section-header;
        margin: 0;

        @include tablet {
            padding: 1rem 0 2rem 1rem;
        }

        @include desktop {
            padding: 2rem 0 1rem 1.5rem;
        }
    }

    &__image-container {

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            min-width: 100%;
        }
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-evenly;
            min-width: 100%;
        }

        img {
            max-width: 100%;
            margin: 0.5rem 0;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }

            @include tablet {
                max-width: 30%;
            }
            @include desktop {
                max-width: 30%;
                margin: 1rem 0.5rem;
            }
        }
    }
}

.comments {

    &__title {
        @include section-header;
        padding-left: 1.5rem;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        margin: 0 0 2rem 0;
        padding: 12px;

        &__avatar {

            padding: 12px;

            &--img {
            border-radius: 50%;
            width: 36px;
            height: 36px;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 80%;

            &--label {
                @include body-copy;
                color: $silver;
            }

            &--name {
                min-height: 36px;
                margin-bottom: 1rem;
                border-radius: 4px;
            }

            &--comment {
                min-height: 36px;
                margin-bottom: 1rem;
                border-radius: 4px;
            }

            &--cta {
                height: 40px;
                background-color: $bandsite-black;
                color: $white;
                width: 100%;
                border: none;
                border-radius: 4px;

                &:hover {
                    background-color: $bandsite-darkblack;
    
                }
            }
        }
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;
        padding-bottom: 1rem;

        &--title {
            @include subheader;
            width: 60%;
        }

        &--date {
            color: $mercury;
            @include subheader;
            width: 40%;
            align-self: center;
        }

        &--divider {
            border-bottom: 1px $mercury solid;
            width: 100%;
        }
    }
}

.divider {
    border-bottom: $mercury 5px solid;
    width: 100%;
}

.footer {
    background-color: $bandsite-black;
    color: $white;
    padding: 1rem;
    @include footer-copy;

    @include tablet {
        display: flex;
        padding: 2.5% 7%;
        position: relative;
        flex-wrap: wrap;
        gap: 0 3rem;
    }

    @include desktop {
        display: flex;
        padding: 2.5% 7%;
        position: relative;
        flex-wrap: wrap;
    }

    &__title {
        @include section-header;

        @include tablet {
            width: 35%;
        }
        @include desktop {
            width: 35%;
        }
    }
    
    &__social {

        @include tablet {
            align-self: center;
            width: 20%;
        }
        @include desktop {
            align-self: center;
            width: 20%;
        }

        &--spacer {
            padding: 0 2rem;
        }
    }

    &__contact {
        padding-bottom: 3rem;

        @include tablet {
            display: flex;
            justify-content: space-between;            
            width: 100%;
        }      

        @include desktop {
            display: flex;
            justify-content: space-between;
            min-width: 80%;
        }
    }

    &__logo {

        @include tablet{
            position: absolute;
            top: 17%;
            right: 7%;
        }

        @include desktop {
            position: absolute;
            top: 21%;
            right: 7%;
        }

    }
}
