@font-face {
  font-family: avenirNextRegular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenirNextDemi;
  src: url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
}
@font-face {
  font-family: avenirNextBold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: avenirNextRegular;
}

.navbar {
  background-color: #323232;
}
.navbar-container {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container {
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
  }
}
.navbar-container__logo img {
  width: 7.5rem;
}
.navbar-container__subheader {
  display: flex;
  width: 100%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader {
    width: 50%;
    justify-content: space-between;
  }
}
.navbar-container__subheader--biography {
  border-bottom: white 4px solid;
  width: 50%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--biography {
    width: auto;
  }
}
.navbar-container__subheader--shows {
  width: 50%;
  display: flex;
  justify-content: center;
  color: #E1E1E1;
  text-decoration: none;
}
.navbar-container__subheader--shows:hover {
  border-bottom: white 4px solid;
  width: 50%;
  color: #FFFFFF;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--shows:hover {
    width: auto;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--shows {
    width: auto;
  }
}

.hero-container {
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.hero-container__image {
  max-width: 100%;
}
.hero-container__title {
  position: absolute;
  top: 35%;
  left: 5%;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .hero-container__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .hero-container__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}

main {
  color: #323232;
}

@media ((min-width: 320px) and (max-width: 767px)) {
  .biography {
    padding: 1rem 1rem 0 1rem;
  }
}
.biography__title {
  margin: 8px 0 16px 0;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .biography__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
.biography__image {
  max-width: 100%;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__quote {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .biography__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
.biography__quote--bryan-teddy {
  padding-top: 0.5rem;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__description--title {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__description--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .biography__description--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__description--text {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__description--text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__description--text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .photo-gallery {
    padding: 1rem;
  }
}
.photo-gallery__title {
  margin: 0;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .photo-gallery__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
.photo-gallery__image-container img {
  max-width: 100%;
  margin: 0.5rem 0;
  filter: grayscale(1);
}
.photo-gallery__image-container img:hover {
  filter: grayscale(0);
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .footer {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media ((min-width: 1280px)) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer__social--spacer {
  padding: 0 2rem;
}
.footer__contact {
  padding-bottom: 3rem;
}/*# sourceMappingURL=bio.css.map */