@import "partials/variables";
@import "partials/fonts+colors";
@import "partials/reset";

.navbar {
    background-color: $bandsite-black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

    &__logo {

        img {
            width: 120px;
        }
    }

    &__subheader {
        display: flex;
        width: 100vw;
        @include subheader;

        &--biography {
            border-bottom: white 4px solid;
            width: 50%;
            display: flex;
            justify-content: center;
        }

        &--shows {
            width: 50%;
            display: flex;
            justify-content: center;
            color: $mercury;
        }
    }
}


// media queries lab + responsive design lab
// include tablet + desktop
// @include