@font-face {
  font-family: avenirNextRegular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenirNextDemi;
  src: url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
}
@font-face {
  font-family: avenirNextBold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: avenirNextRegular;
}

.navbar {
  background-color: #323232;
}
.navbar-container {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container {
    flex-direction: row;
    padding-left: 5%;
    width: 50%;
    justify-content: space-around;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container {
    flex-direction: row;
    padding-left: 5%;
    width: 50%;
    justify-content: space-evenly;
  }
}
.navbar-container__logo img {
  width: 7.5rem;
}
.navbar-container__subheader {
  display: flex;
  width: 100%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader {
    width: 50%;
    justify-content: space-between;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader {
    width: 50%;
    justify-content: space-around;
  }
}
.navbar-container__subheader--biography {
  border-bottom: white 4px solid;
  width: 50%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--biography {
    width: auto;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader--biography {
    width: auto;
  }
}
.navbar-container__subheader--shows {
  width: 50%;
  display: flex;
  justify-content: center;
  color: #E1E1E1;
  text-decoration: none;
}
.navbar-container__subheader--shows:hover {
  border-bottom: white 4px solid;
  width: 50%;
  color: #FFFFFF;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--shows:hover {
    width: auto;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader--shows:hover {
    width: auto;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--shows {
    width: auto;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader--shows {
    width: auto;
  }
}

.hero-container {
  position: relative;
  color: #FFFFFF;
}
.hero-container__image {
  max-width: 100%;
  background-color: #323232;
  opacity: 75%;
}
.hero-container__title {
  position: absolute;
  top: 35%;
  left: 5%;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .hero-container__title h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__title h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .hero-container__title h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}

main {
  color: #323232;
}

@media ((min-width: 320px) and (max-width: 767px)) {
  .biography {
    padding: 1rem 1rem 0 1rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography {
    padding: 2.25rem 2.25rem 0 2.25rem;
  }
}
@media ((min-width: 1280px)) {
  .biography {
    padding: 2.25rem 2.25rem 0 2.25rem;
    display: flex;
    flex-direction: column;
  }
}
.biography__title {
  margin: 8px 0 16px 0;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .biography__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__title {
    margin: 16px 2.25rem 2.25rem 2.25rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__title {
    margin: 16px 2.25rem 2.25rem 2.25rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__container {
    margin: 0 2.25rem 1.5rem 2.25rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__container {
    margin: 0 2.25rem 1.5rem 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 80%;
  }
}
.biography__container--image {
  max-width: 100%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__container--image {
    padding-bottom: 1rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__container--image {
    padding-bottom: 1rem;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__container--quote {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__container--quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .biography__container--quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .biography__container--quote {
    width: 65%;
    text-align: left;
  }
}
.biography__container--quote--bryan-teddy {
  padding-top: 0.5rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__container--quote--bryan-teddy {
    padding-top: 1rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__container--quote--bryan-teddy {
    padding-top: 1rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__description {
    margin: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__description {
    margin: 0 2.25rem 2.25rem 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 80%;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__description--title {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__description--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .biography__description--title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .biography__description--text {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__description--text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) {
  .biography__description--text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .biography__description--text {
    display: flex;
    justify-content: space-between;
  }
  .biography__description--text p {
    width: 45%;
  }
}
@media ((min-width: 1280px)) {
  .biography__description--text {
    display: flex;
    justify-content: space-between;
  }
  .biography__description--text p {
    width: 45%;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .photo-gallery {
    padding: 1rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .photo-gallery {
    padding: 2.25rem;
  }
}
@media ((min-width: 1280px)) {
  .photo-gallery {
    padding: 3rem;
  }
}
.photo-gallery__title {
  margin: 0;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .photo-gallery__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .photo-gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .photo-gallery__title {
    padding: 1rem 0 2rem 1rem;
  }
}
@media ((min-width: 1280px)) {
  .photo-gallery__title {
    padding: 2rem 0 1rem 1.5rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .photo-gallery__image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 100%;
  }
}
@media ((min-width: 1280px)) {
  .photo-gallery__image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    min-width: 100%;
  }
}
.photo-gallery__image-container img {
  max-width: 100%;
  margin: 0.5rem 0;
  filter: grayscale(1);
}
.photo-gallery__image-container img:hover {
  filter: grayscale(0);
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .photo-gallery__image-container img {
    max-width: 30%;
  }
}
@media ((min-width: 1280px)) {
  .photo-gallery__image-container img {
    max-width: 30%;
    margin: 1rem 0.5rem;
  }
}

.comments__title {
  padding-left: 1.5rem;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .comments__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .comments__title {
    padding-left: 6%;
  }
}
.comments-container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: #E1E1E1 1px solid;
  max-width: 90%;
  margin: auto;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments-container {
    justify-content: center;
    max-width: 80%;
    padding: 0;
  }
}
@media ((min-width: 1280px)) {
  .comments-container {
    justify-content: center;
    max-width: 50%;
    padding: 0;
  }
}
.comments-container__avatar {
  padding: 12px;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments-container__avatar {
    padding: 1.25rem;
  }
}
@media ((min-width: 1280px)) {
  .comments-container__avatar {
    padding: 1.25rem;
  }
}
.comments-container__avatar--img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.comments-container__form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments-container__form {
    width: 100%;
  }
}
@media ((min-width: 1280px)) {
  .comments-container__form {
    width: 100%;
  }
}
.comments-container__form--label {
  color: #AFAFAF;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .comments-container__form--label {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments-container__form--label {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) {
  .comments-container__form--label {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.comments-container__form--name {
  min-height: 36px;
  margin-bottom: 1rem;
  border-radius: 4px;
  background-color: #FAFAFA;
}
.comments-container__form--comment {
  min-height: 36px;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FAFAFA;
}
.comments-container__form--cta {
  height: 40px;
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments-container__form--cta {
    width: 150px;
    padding: 0 32px;
    align-self: flex-end;
  }
}
@media ((min-width: 1280px)) {
  .comments-container__form--cta {
    width: 150px;
    padding: 0 32px;
    align-self: flex-end;
  }
}
.comments-container__form--cta:hover {
  background-color: #000000;
}
.comments__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  padding-bottom: 1rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments__card {
    max-width: 80%;
  }
}
@media ((min-width: 1280px)) {
  .comments__card {
    max-width: 50%;
  }
}
.comments__card--avatar {
  background-color: #E1E1E1;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 12px;
}
.comments__card--container {
  display: flex;
  justify-content: space-between;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments__card--container {
    padding-bottom: 1rem;
  }
}
@media ((min-width: 1280px)) {
  .comments__card--container {
    padding-bottom: 1rem;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .comments__card--container-title {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments__card--container-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .comments__card--container-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
.comments__card--container-date {
  color: #E1E1E1;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .comments__card--container-date {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .comments__card--container-date {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .comments__card--container-date {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
.comments__card--divider {
  border-bottom: 1px #E1E1E1 solid;
  width: 100%;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .footer {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media ((min-width: 1280px)) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer {
    display: flex;
    padding: 2.5% 7%;
    position: relative;
    flex-wrap: wrap;
    gap: 0 3rem;
  }
}
@media ((min-width: 1280px)) {
  .footer {
    display: flex;
    padding: 2.5% 7%;
    position: relative;
    flex-wrap: wrap;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__title {
    width: 35%;
  }
}
@media ((min-width: 1280px)) {
  .footer__title {
    width: 35%;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__social {
    align-self: center;
    width: 20%;
  }
}
@media ((min-width: 1280px)) {
  .footer__social {
    align-self: center;
    width: 20%;
  }
}
.footer__social--spacer {
  padding: 0 2rem;
}
.footer__contact {
  padding-bottom: 3rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media ((min-width: 1280px)) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__logo {
    position: absolute;
    top: 17%;
    right: 7%;
  }
}
@media ((min-width: 1280px)) {
  .footer__logo {
    position: absolute;
    top: 21%;
    right: 7%;
  }
}/*# sourceMappingURL=bio.css.map */