@font-face {
  font-family: avenirNextRegular;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenirNextDemi;
  src: url(../../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf);
}
@font-face {
  font-family: avenirNextBold;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: avenirNextRegular;
}

.navbar {
  background-color: #323232;
}
.navbar-container {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container {
    flex-direction: row;
    padding-left: 5%;
    width: 50%;
    justify-content: space-around;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container {
    flex-direction: row;
    padding-left: 5%;
    width: 50%;
    justify-content: space-around;
  }
}
.navbar-container__logo img {
  width: 7.5rem;
}
.navbar-container__subheader {
  display: flex;
  width: 100%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader {
    width: 50%;
    justify-content: space-between;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader {
    width: 50%;
    justify-content: space-between;
  }
}
.navbar-container__subheader--biography {
  width: 50%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #E1E1E1;
}
.navbar-container__subheader--biography:hover {
  border-bottom: white 4px solid;
  width: 50%;
  color: #FFFFFF;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--biography:hover {
    width: auto;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader--biography:hover {
    width: auto;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--biography {
    width: auto;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader--biography {
    width: auto;
  }
}
.navbar-container__subheader--shows {
  border-bottom: white 4px solid;
  width: 50%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .navbar-container__subheader--shows {
    width: auto;
  }
}
@media ((min-width: 1280px)) {
  .navbar-container__subheader--shows {
    width: auto;
  }
}

.hero-container {
  position: relative;
  color: #FFFFFF;
}
.hero-container__image {
  max-width: 100%;
  background-color: #323232;
  opacity: 50%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__image {
    height: 85vh;
    width: 100%;
  }
}
@media ((min-width: 1280px)) {
  .hero-container__image {
    height: 85vh;
    width: 100%;
  }
}
.hero-container__text {
  text-align: left;
  position: absolute;
  top: 10%;
  left: 5%;
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 320px) and (max-width: 767px)) {
  .hero-container__text--subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__text--subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 1280px)) {
  .hero-container__text--subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__text--banner-header {
    margin: 36px 0;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 320px) and (max-width: 767px)) {
  .hero-container__text--banner-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__text--banner-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 1280px)) {
  .hero-container__text--banner-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) and ((min-width: 320px) and (max-width: 767px)) {
  .hero-container__text--subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__text--subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) and ((min-width: 1280px)) {
  .hero-container__text--subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) {
  .hero-container__text--banner-header {
    margin: 36px 0;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) and ((min-width: 320px) and (max-width: 767px)) {
  .hero-container__text--banner-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__text--banner-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) and ((min-width: 1280px)) {
  .hero-container__text--banner-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: avenirNextBold;
  }
}
.hero-container__iframe {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 5%;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .hero-container__iframe {
    top: 50%;
    width: 60%;
    height: 40%;
  }
}
@media ((min-width: 1280px)) {
  .hero-container__iframe {
    top: 50%;
    width: 60%;
    height: 40%;
  }
}

.container {
  padding: 12px;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container {
    padding: 36px;
  }
}
@media ((min-width: 1280px)) {
  .container {
    padding: 36px;
  }
}
.container__header {
  padding-bottom: 12px;
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 320px) and (max-width: 767px)) {
  .container__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .container__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 1280px)) {
  .container__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) and ((min-width: 320px) and (max-width: 767px)) {
  .container__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .container__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) {
  .container__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}
@media ((min-width: 1280px)) {
  .container__shows {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
  }
}
.container__shows--heading {
  margin-bottom: 4px;
  color: #AFAFAF;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--heading {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--heading {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--heading {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--heading {
    display: none;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--heading {
    display: none;
  }
}
.container__shows--value-bold {
  margin-top: 0px;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--value-bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--value-bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--value-bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--value-bold {
    margin: auto;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--value-bold {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--value-bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 1280px)) {
  .container__shows--value-bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--value-bold {
    margin: auto;
  }
}
@media ((min-width: 1280px)) and ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--value-bold {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 1280px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--value-bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) {
  .container__shows--value-bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.container__shows--value {
  margin-top: 0px;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--value {
    margin: auto;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--value {
    margin: auto;
  }
}
.container__shows--buy-tickets {
  margin-bottom: 12px;
  height: 40px;
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  border: none;
  border-radius: 4px;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--buy-tickets {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--buy-tickets {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--buy-tickets {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextDemi;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--buy-tickets {
    width: 150px;
    padding: 0 32px;
    align-self: flex-end;
    margin-top: 1rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--buy-tickets {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--buy-tickets {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) and ((min-width: 1280px)) {
  .container__shows--buy-tickets {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--buy-tickets {
    width: 150px;
    padding: 0 32px;
    align-self: flex-end;
    margin-top: 1rem;
  }
}
@media ((min-width: 1280px)) and ((min-width: 320px) and (max-width: 767px)) {
  .container__shows--buy-tickets {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 1280px)) and ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--buy-tickets {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media ((min-width: 1280px)) and ((min-width: 1280px)) {
  .container__shows--buy-tickets {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.container__shows--buy-tickets:hover {
  background-color: #000000;
}
.container__shows--divider {
  border-bottom: 1px #E1E1E1 solid;
  position: absolute;
  width: 80%;
  left: 0;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .container__shows--divider {
    width: 100%;
  }
}
@media ((min-width: 1280px)) {
  .container__shows--divider {
    width: 100%;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .footer {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media ((min-width: 1280px)) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer {
    display: flex;
    padding: 2.5% 7%;
    position: relative;
    flex-wrap: wrap;
    gap: 0 3rem;
  }
}
@media ((min-width: 1280px)) {
  .footer {
    display: flex;
    padding: 2.5% 7%;
    position: relative;
    flex-wrap: wrap;
  }
}
@media ((min-width: 320px) and (max-width: 767px)) {
  .footer__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 1280px)) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: avenirNextBold;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__title {
    width: 35%;
  }
}
@media ((min-width: 1280px)) {
  .footer__title {
    width: 35%;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__social {
    align-self: center;
    width: 20%;
  }
}
@media ((min-width: 1280px)) {
  .footer__social {
    align-self: center;
    width: 20%;
  }
}
.footer__social--spacer {
  padding: 0 2rem;
}
.footer__contact {
  padding-bottom: 3rem;
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media ((min-width: 1280px)) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
  }
}
@media ((min-width: 768px) and (max-width: 1279px)) {
  .footer__logo {
    position: absolute;
    top: 17%;
    right: 7%;
  }
}
@media ((min-width: 1280px)) {
  .footer__logo {
    position: absolute;
    top: 21%;
    right: 7%;
  }
}/*# sourceMappingURL=shows.css.map */